._4sp8{
    background-color: rgb(54,57,63);
}

._1ht3{
    color: white !important;
}

._1ht6{
    color: rgb(255,255,255);
}

._1enh{
    background-color: rgb(47,49,54);
}

._1ht7{
    color: rgb(255,255,255);
}

._1htf{
    color: rgb(255,255,255) !important;
}

._673w{
    background-color: rgb(32,34,37);
}

._36ic{
    background-color: rgb(32,34,37);
}

._1tqi{
    color: white;
}

._17w2{
    color: white;
}

._6krh{
    color: white;
}

._497p{
    white: white;
}

._hh7{
    color: white;
    background-color: rgb(32,34,37);
}

._3tkv{
    background-color: rgb(47,49,54)
}

a{
    color: #0084ff;
}

._3eus{
    color: white;
}

._1mf{
    color: white
}

._1lj0{
    color: white;
}

._3szq{
    color: white;
}

._1lj0{
    color: white;
}

._2v6o{
    color: rgba(255,255,255,.5);
}
